<h2>Create Post</h2>
    <form method="post" >
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title" value="Title"><br><br>
        <textarea name="body" rows="10" cols="50">
Text
        </textarea><br>

        <input type="submit">
    </form>
