<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>frogblog</title>
	</head>
    <h1><a href="/">frogblog</a></h1>
	<body>
    <h2>Are yoy sure you want to delete</h2>
    <h3>{{ .Title }}</h3>
    <h2>?</h2>
    <a href="delete">Y</a>    <a href="delete">N</a>
	</body>
</html>
