{{$auth := .session.Values.auth}}
{{$data := .data}}
{{range $id, $elem := $data}}
<a href="posts/{{ $id }}">
<div class="posts">
<h2>{{ $elem.Title }}</h2>
<p>{{ $elem.Body }}</p>
</div>
</a>
{{end}}
