<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>frogblog</title>
	</head>
    <h1><a href="/">frogblog</a></h1>
	<body>
{{range $id, $elem := .data}}
    <h1>{{ $elem.Title }}</h1>
    <p>{{ $elem.Body }}</p>
    {{if .session.Values.auth }}
    <form method="get" action="/posts/{{ $id }}/delete">
        <input type="Submit" value="delete">
    </form>
    {{end}}
{{end}}
	</body>
</html>
