<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>frogblog</title>
	</head>
    <h1><a href="/">frogblog</a></h1>
	<body>
    <h2>Are yoy sure you want to delete</h2>
{{range $id, $elem := .data}}
    <h3>{{ $elem.Title }}</h3>
    <h2>?</h2>
    <form method="post">
        <input type="submit" value="YES">
        <button type="button" onclick="window.location.replace('/posts/{{ $id }}')">NO</button>
    </form>
{{end}}
	</body>
</html>
